{
  "api_app_base" : {
    "api_url":"127.0.0.1:3000",
    "secret_token":"",
    "refresh_secret_token":""
  },
  "database": {
    "mongodb": {
      "host": "127.0.0.1",
      "database": "base_apps_db",
      "username": "",
      "password": "",
      "port": 27017
    }
  },
  "firebase_db": {
    "database_url": "url",
    "database_name": "db_name"
  },
  "redis": {
    "host": "203.210.84.108",
    "database": 0,
    "user": "",
    "password": "masuk123",
    "port": 6379
  },
}